/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400% 0;
  }
}

@keyframes glowing-reverse {
  0% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/bg.png');
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(255, 255, 255);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.logo {
  width: 240px;
  font-size: 20px;
  height: 60px;
  border: none;
  outline: none;
  background: black;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.words {
  color: white;
  font-size: 1.4rem;
  background-image: none;
  font-weight: bold;
}
.logo:hover .words {
  background: linear-gradient(124deg,
      #dd00f3 1%,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3,

      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3);

  -webkit-background-clip: text;
  background-clip: border-box;
  -webkit-text-stroke: 2px transparent;
  color: #000;

  animation: glowing 20s linear infinite;
  background-size: 200%;

  opacity: 0;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo:hover .words {
  opacity: 1;
}

.logo:before {
  content: "";
  background: linear-gradient(90deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3,

      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(50% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.logo:hover:before {
  opacity: 1;
}

.logo:hover.logo:after {
  opacity: 1;
}

.logo:after {
  content: "";
  background: linear-gradient(90deg,
      #dd00f3,
      #dd00f3,
      #2b1de8,
      #1ddde8,
      #1de840,
      #e3e81d,
      #e8b71d,
      #e81d1d,
      #ff2400,

      #dd00f3,
      #dd00f3,
      #2b1de8,
      #1ddde8,
      #1de840,
      #e3e81d,
      #e8b71d,
      #e81d1d,
      #ff2400);
  position: absolute;
  top: calc(50% - 2px);
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(50% + 4px);
  animation: glowing-reverse 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600; 
  color: white;
}

.section__text__p1 {
  text-align: left;
}

.section__text__p2 {
  text-align: left;
  font-size: 1.25rem;
  margin-bottom: .8rem;
}

.section__text__p3 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: .8rem;
}

.section__text__p4 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: .8rem;
}

.section__text__p5 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  text-align: left;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

